.quote-box {
  border-color: black;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tweet-quote,a:hover {
    color: white;
}

body {
	background-color : grey;
}